# Node modules
node_modules/
package-lock.json

# Environment variables
.env

# Build artifacts
dist/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Puppeteer Chromium cache (if using default)
.cache/

#
venv